<div>
    <h1> <%= @article.title %> </h1>
    <p> <%= @article.body %> </p>
    <ul>
        <% if isEditor%>
            <li>
                <%= link_to "modifier", editor_edit_articles_path(@article), class: "btn btn-default", type: "button" %>
            </li>
            <li>
                <%= link_to "archiver", editor_archived_articles_path(@article), class: "btn btn-warning", type: "button"%>
            </li>
        <% end%>
        <% if isAdmin%>
            <li> <%= link_to "supprimer", editor_articles_path(@article), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Etes vous sur"}%>
        <%end%>
    </ul>
</div>
<div>
    <h2> commentaire </h2>
        <%= render @article.comment%>
</div>
<div>
   <h2> Ajouter un commentaire </h2>
   <%= render 'comments/form' %>
</div>