<div class="container">
    <table class="table table-strip">
        <tr>
            <th>Nom</th>
            <th>Role</th>
            <th>Changer Role</th>
            <th>Supprimer</th>
        </tr>
        <% @user.each do |user|%>
            <tr>
                <td><%=user.name%></td>
                <td><%= user.role%></td>
                <% if user.role==='extern'%>
                    <td><%=button_to "Editeur", action: passeditor(user.id), method: :patch, class: "btn btn_warning", data: {turbo_confirm: "Etes vous sur de le passer éditeur?"} %></td>
                <%elsif user.role==='admin' %>
                    <td>Admin</td>
                <% else%>
                    <td><%= link_to "Externe", admin_passextern_users_path(user.id), class: "btn btn-info", data: {turbo_method: :post, turbo_confirm: "Etes vous sur de le passer externe"}%></td>
                <%end%>
                <% if user.role==='admin'%>
                    <td></td>
                <%else%>
                    <td><%= link_to "supprimer",  admin_destroy_users_path(user.id), data: {turbo_method: :delete, turbo_confirm: "Etes vous sur de le supprimer"} %></td>
                <%end%>
            </tr>
        <%end%>
    </table>
</div>

